.modal {
<<<<<<< HEAD
=======
  position: absolute;
>>>>>>> 2c640a995ffef113034fb92a6655c31a1bf4a3c8
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 100;
<<<<<<< HEAD
  overflow: scroll;
  padding: 5px; 
=======
>>>>>>> 2c640a995ffef113034fb92a6655c31a1bf4a3c8
}

.modal .modal__close-button {
  position: absolute;
  top: 55px;
  right: 55px;
}


.react-autosuggest__container {
  position: relative;
  width: 100%;
  font-family: "Open Sans" sans-serif;
  font-size: 20px;
<<<<<<< HEAD
  /*padding: 12px 20px;*/
  /*margin: 8px 0;*/
  display: inline-block;
  /*border: 1px solid #ccc;*/
=======
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
>>>>>>> 2c640a995ffef113034fb92a6655c31a1bf4a3c8
  box-sizing: border-box;
}

.react-autosuggest__input {
  width: 240px;
<<<<<<< HEAD
  height: 55px;
=======
  height: 30px;
>>>>>>> 2c640a995ffef113034fb92a6655c31a1bf4a3c8
  padding: 10px 20px;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border: 1px solid #aaa;
  border-radius: 4px;
}

.react-autosuggest__input--focused {
  outline: none;
}

.react-autosuggest__input--open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
  display: none;
}

.react-autosuggest__suggestions-container--open {
  display: block;
  position: absolute;
  top: 51px;
  width: 280px;
  border: 1px solid #aaa;
  background-color: #fff;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 2;
  color:black
}

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 10px 20px;
}

.react-autosuggest__suggestion--highlighted {
  background-color: #ddd;
}


.sdfmsdfbvb {
  display: flex;
}
