.container_payment {
	max-width: 700px;
	border-right: 1px solid grey;
	border-left: 1px solid grey;
	border-bottom: 1px solid grey;
	margin: auto;
	display: flex;
}

.block4 {
	width: auto;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	line-height: 1.3;
}

.css-g1d714-ValueContainer {
	padding: 0px 8px;
}

.pay_name {
	font-size: 24px;
	text-transform: uppercase;
	font-weight: 600;
	line-height: 1.3;
	max-width: 400px;
}

.flex-payment {
	display: flex;
	align-items: center;
	justify-content: space-between;
	max-width: 760px;
	margin: auto;
	padding: 25px;
}

.fw500 {
	font-weight: 500;
}

.price_pay {
	font-size: 24px;
	font-weight: 600;
}

@media screen and (max-width: 587px) {
	.flex-payment {
		padding: 10px 15px;
	}
	.container_payment {
		border-left: none;
		border-right: none;
		border-bottom: none;
	}
	.block4 {
		display: block;
	}
	.pay_name {
		font-size: 18px;
		line-height: 1.6;
	}
	.price_pay {
		font-size: 26px;
	}
}
